* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    /* overflow-x: hidden; */
    height: 100vh;
    width: 100vw;
    line-height : 15px;
    color:rgb(64, 77, 77);
}

section {
    /* height: 80vh; */
    width: 100vw;
    overflow: hidden;
}

button{
    background-color: transparent;
    border: transparent;
    outline: none;
}

select{
    outline: none;
}

header{
    position: fixed;
    z-index: 100;
}


.header-bar{
    height: 10vh;
    width: 100vw;
    background-color: #0091B0;
}

.icon-png{
    width: 9vw;
    margin-left: 12px;
    margin-top: 15px;
    float: left;
}

.input-search{
    margin-top: 2.5vh;
    margin-left: 11px;
    border: transparent;
    border-radius: 5px;
    background-color: #095A6B;
    height: 29px;
    width: 67vw;
    color: #FFFFFF;
    padding-left: 17px;
    float: left;
}


::-webkit-input-placeholder { color: rgba(255, 255, 255, 1); } 

:-ms-input-placeholder { color: rgba(255, 255, 255, 1)d; }

::-webkit-input-placeholder { color: rgba(255, 255, 255, 1); } 
 
:-moz-placeholder { /* Firefox 18- */ color: rgba(255, 255, 255, 1); } 
 
::-moz-placeholder { /* Firefox 19+ */ color: rgba(255, 255, 255, 1); } 
 
:-ms-input-placeholder { color: rgba(255, 255, 255, 1); }

.map-container {
    display: flex;
    width: 100vw;
    height: 80vh;
    margin-top: 10vh;
}

footer{
    height: 10vh;
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    top: 511px;
}

.items-gas-container{
    overflow: scroll;
}

.menu-item{
    float: left;
    width: 25vw;
    text-align: center;
    padding-top: 5px;
    color: #0091B0;
    
}

.menu-item p{
    font-size: 3.5vw;
}

.menu-item:hover{
    background-color: rgba(0, 144, 176, 0.568);
    color: #FFFFFF;
}

.icon-menu{
    width: 30px;
}

.filters-bar{
    height: 10vh;
    width: 100vw;
    background-color: #0091B0;
    overflow: scroll;
    margin-top: 10vh;
}

.select-filter{
    width: 97px;
    border: solid 1px #FFFFFF;
    height: 7vh;
    color: #FFFFFF;
    background-color: #0091B0;
    float: left;
    border-radius: 5px;
    margin: 9px 3px 0 3px;
}

.item-company-container{
    width: 95vw;
    height: 100px;
    background-color:#FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 7px #0091B0;
    padding: 11px 0px;
}

.logo-container{
    width: 24vw;
    float: left;
}

.logo-container img{
    width: inherit;
}

.data-company-container{
    height: inherit;
    width: 67vw;
    padding-left: 83px;
    float: left;
    position: absolute;
}

.title-company{
    color: #0091B0;
    font-weight: 700;
}

.adress{
    font-size: 10px;
    font-weight: 500;
    color: rgb(64, 77, 77);
}

.rating-container{
    float: left;
    width: 30vw;
}

.rating{
    width: inherit;
}

.number-rating{
    color:rgb(64, 77, 77);
    margin-top: 3px;
    margin-left: 101px;
    font-weight: 500;
}

.icon-service{
    width: 20px;
}

.container-price{
    position: absolute;
    left: 225px;
    text-align: right;
}

.price-gasoline{
    color: #0091B0;
    font-size: 23px;
    font-weight: 600;
}

.update-time{
    font-size: 10px;
}

.update-user{
    width: 17px;
    float: left;
    margin-top: 37px;
}

.name-user{
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    margin-top: 37px;
}

.hidde-section{
    display: none;
  }
